{{ 'about-page.css' | asset_url | stylesheet_tag }}


<div class="about__bg">
  <section class="hero about">
    <div class="hero__bg">{% render 'wave-icon' %}</div> 

    <div class="container relative">
      <div class="hero__content about__hero">
        <div class="hero__wrapper">
          <div class="about__subtitle">ABOUT US</div>
          <h1 class="hero__title">The story of <span class="color-f6">more than</span></h1>

        </div>
      </div>
    </div>

    <div class="about__carousel">
      <div class="about__carousel-imgs">
        <img src="{{ 'about-hero-1.png' | asset_img_url: '132x82'}}" alt="nuddle" loading="lazy" height="82" width="144">
        <img src="{{ 'about-hero-2.png' | asset_img_url: '200x200' }}" alt="nuddle" loading="lazy" height="200" width="200">
        <img src="{{ 'about-hero-3.png' | asset_img_url: '100x100' }}" alt="nuddle" loading="lazy" height="144" width="144">
        <img src="{{ 'about-hero-4.png' | asset_img_url: '200x200' }}" alt="nuddle" loading="lazy" height="200" width="200">
        <img src="{{ 'about-hero-5.png' | asset_img_url: '100x100' }}" alt="nuddle" loading="lazy" height="144" width="144">
        <img src="{{ 'about-hero-6.png' | asset_img_url: '200x200' }}" alt="nuddle" loading="lazy" height="200" width="200">
        <img src="{{ 'about-hero-7.png' | asset_img_url: '70x70' }}" alt="nuddle" loading="lazy" height="144" width="144">
      </div>
      <div class="about__carousel-imgs __2">
        <img src="{{ 'about-hero-1.png' | asset_img_url: '132x82'}}" alt="nuddle" loading="lazy" height="82" width="144">
        <img src="{{ 'about-hero-2.png' | asset_img_url: '200x200' }}" alt="nuddle" loading="lazy" height="200" width="200">
        <img src="{{ 'about-hero-3.png' | asset_img_url: '100x100' }}" alt="nuddle" loading="lazy" height="144" width="144">
        <img src="{{ 'about-hero-4.png' | asset_img_url: '200x200' }}" alt="nuddle" loading="lazy" height="200" width="200">
        <img src="{{ 'about-hero-5.png' | asset_img_url: '100x100' }}" alt="nuddle" loading="lazy" height="144" width="144">
        <img src="{{ 'about-hero-6.png' | asset_img_url: '200x200' }}" alt="nuddle" loading="lazy" height="200" width="200">
        <img src="{{ 'about-hero-7.png' | asset_img_url: '70x70' }}" alt="nuddle" loading="lazy" height="144" width="144">
      </div>
    </div>
  </section>
</div>


<section class="about-descr">
  <span class="about-descr__bg">{% render 'about-descr' %}</span>
  <div class="container">
    <div class="about-descr__content">
      <div class="about-descr__img"><img src="{{ 'man.jpg' |  asset_img_url: '684x684' }}" alt="co-founders" loading="lazy"  width="329" height="373">
      </div>
      <div class="about-descr__info">
        <div class="about-descr__title">
          <h2 class="color-blue">Hi there!</h2>
          <p>We're the co-founders of Tazzy Candy. We became instant friends when we met in college as food science students, working in a candy laboratory.</p></div>
        <div class="about-descr__rolton">
          <img class="rolton rolton-left" src="{{ 'rolton-left.png' |  asset_img_url: '257x292' }}" alt="noodle-box" loading="lazy" width="257" height="292">
          <img class="rolton rolton-middle" src="{{ 'rolton-middle.png' |  asset_img_url: '329x373' }}" alt="noodle-box" loading="lazy"  width="329" height="373">
          <img class="rolton rolton-right" src="{{ 'rolton-right.png' |  asset_img_url: '242x275' }}" alt="noodle-box" loading="lazy"  width="242" height="275">
        </div>
      </div>
    </div>
  </div>
</section> 

<section class="problem">
  <div class="container">
    <div class="problem__top">
      <p>Our name was inspired by the small but mighty <span>Tasmanian Devil.</span> Just like the spicy little devil, we're bold, spunky, and sometimes told "a bit too much", but hey, we like it <span>that way.</span> Everything we do has extra flare, from the taste of our candy to the personality of our packaging. We <span>strive</span> to live life with full-on flavor, and our mission is to inspire others to do the same.</p>
      <a href="button problem__btn" class="button">Browse noodles</a>
    </div>
  </div>
  <div class="container problem__container">
    <div class="problem__sticky-wrapper">
      <div class="problem__stiky">
        <h3>The problem</h3>
        <div class="problem__text-wrapper">
          <img src="{{ 'mushrooms.png' | asset_img_url: '137x115' }}" alt="mushrooms" loading="lazy" class="problem__mushroom" width="137" height="100">
          <div class="scroll__problem-dots">
            <span class="vertical__dot active"></span>
            <span class="vertical__dot"></span>
            <span class="vertical__dot"></span>
            </div>
            <div class="problem__wrapper">
              <div class="problem__overflow">
                <div class="problem__text">We spend most of our day outside of our homes, we need healthy/clean ready-to-eat meals and snacks but there is not much out there & most of it is quite ‘suspicious’ with ingredients we don’t understand</div>
                <div class="problem__text">We spend most of our day outside of our homes, we need healthy/clean ready-to-eat meals and snacks but there is not much out there & most of it is quite ‘suspicious’ with ingredients we don’t understand</div>
                <div class="problem__text">We spend most of our day outside of our homes, we need healthy/clean ready-to-eat meals and snacks but there is not much out there & most of it is quite ‘suspicious’ with ingredients we don’t understand</div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="solution">
  <span class="solution__bg">{% render 'about-descr' %}</span>

  <div class="container problem__container">
    <div class="problem__sticky-wrapper">
      <div class="problem__stiky solution__stiky">
        <h3>The solution</h3>
        <div class="problem__text-wrapper">
          <img src="{{ 'about-hero-1.png' | asset_img_url: '238x148' }}" alt="mushrooms" loading="lazy" class="problem__mushroom" width="238" height="148">
          <img src="{{ 'Lime.png' | asset_img_url: '124x104' }}" alt="mushrooms" loading="lazy" class="solution__lime" width="124" height="104">
          <div class="scroll__problem-dots">
            <span class="vertical__dot active"></span>
            <span class="vertical__dot"></span>
            <span class="vertical__dot"></span>
            </div>
            <div class="problem__wrapper solution__wrapper">
              <div class="problem__overflow solution__overflow">
                <p class="problem__text">Transforming the snacks & Ready-To-Eat aisles with more products you would confidently put in your shopping cart and your body</p>
                <p class="problem__text">Transforming the snacks & Ready-To-Eat aisles with more products you would confidently put in your shopping cart and your body</p>
                <p class="problem__text">Transforming the snacks & Ready-To-Eat aisles with more products you would confidently put in your shopping cart and your body</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="loop red">
  <div class="loop__content">{% render 'big-logo', class: 'big-logo' %}</div>
</section> 

<section class="steps">
  <div class="container">
    <div class="steps__content">
      <div class="steps__line">
        {% render 'steps-line' %}
      </div>
      <div class="steps__line-2">
        {% render 'steps-line-2' %}
      </div>

      <img src="{{ 'parsley.png' | asset_img_url: '154x154' }}" alt="parsley" class="steps__parsley" width="153" height="154" loading="lazy">
      <img src="{{ 'piece-of-food.png' | asset_img_url: '115x171' }}" alt="shrimp" class="steps__shrimp" width="171" height="115" loading="lazy">
      <div class="steps__wrapper ">
        <div class="steps__text">
          <p class="steps__title">Accessibility<br>{% render 'elipse-line' %}
          to the <span class="steps__span" id="starter">good stuff</span></p>
          <ul class="steps__list">
            <li>Nutritious foods at the right price</li>
            <li>Functional benefits in every product</li>
          </ul>
        </div>
        <div class="steps__img">
            <img src="{{ 'noodle-black.png' | asset_img_url: '450x570' }}" alt="noodle" width="450" height="570" loading="lazy">
            <div class="steps__circle">
              <img src="{{ 'noodle-black-circle.png' | asset_img_url: '220x220' }}" alt="noodle" width="220" height="220" loading="lazy">
            </div>
        </div>
      </div>

      <div class="steps__wrapper tablet-reverse">
        <div class="steps__img">
            <img src="{{ 'red-head-girl.png' | asset_img_url: '470x280' }}" alt="noodle" width="470" height="280" loading="lazy">
            <div class="steps__img-wrapper">
              <div class="rating">
                {% render 'star-icon' %}
                {% render 'star-icon' %}
                {% render 'star-icon' %}
                {% render 'star-icon' %}
                {% render 'star-icon' %}
              </div>
              <p class="steps__img-descr">“Delicious and healthy - it's almost impossible, but they were able to”</p>
              <img src="{{ 'full-noodle.png' | asset_img_url: '248x282' }}" alt="noodle" width="248" height="282" loading="lazy">
            </div>
        </div>
        <div class="steps__text">
          <p class="steps__title">Clear, clean <br> claims wit no fuss</p>
          <ul class="steps__list">
            <li>Just the full truth</li>
            <li>Built & approved by nutritionists</li>
          </ul>
        </div>
      </div>

      <div class="steps__wrapper mobile-gap-40">
        <div class="steps__text mw-665">
          <p class="steps__title"><span class="color-blue">Convenience always top of mind</span></p>
          <ul class="steps__list color-blue">
            <li >Let us be real — we are spending so much time outside of our homes & on-the-go</li>
          </ul>
        </div>
        <div class="steps__img">
            <img src="{{ 'noodle-box.png' | asset_img_url: '450x570' }}" alt="noodle" width="450" height="570" loading="lazy">
            <div class="steps__circle bottom">
              <img src="{{ 'noodle-box-circle.png' | asset_img_url: '220x220' }}" alt="noodle" width="220" height="220" loading="lazy">
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="adv">
  <div class="adv__bg"><svg width="100%" height="100%" viewBox="0 0 1440 770" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M-271.731 -679.283C-70.7594 -686.561 130.061 -732.393 309.719 -817.217C468.094 -891.988 616.685 -1001.75 698.59 -1150.84C744.775 -1234.89 763.966 -1327.99 761.571 -1421.87C760.206 -1473.32 752.94 -1524.5 741.465 -1574.82C718.084 -1677.27 664.337 -1787.38 694.508 -1893.26C726.174 -2004.37 843.452 -2040.52 953.708 -2055.84C1155.89 -2083.97 1364.86 -2040.42 1564.5 -2088.16C1650.84 -2108.8 1725.27 -2166.43 1812.75 -2179.63C1929.59 -2197.25 1991.12 -2107.74 1973.57 -2008.98C1965.36 -1962.73 1946.45 -1917.5 1929.48 -1873.46C1881.02 -1747.95 1808.21 -1641.97 1672.23 -1590.54C1626.34 -1573.19 1578.57 -1560.91 1531.69 -1546.32C1491.09 -1533.67 1451.02 -1519.36 1412.21 -1502.62C1249.96 -1432.69 1109.79 -1315.21 1104.38 -1138.32C1097.59 -916.641 1175.75 -698.427 1179.97 -476.545C1183.7 -280.463 1169.25 0.244814 1003.38 145.335C862.501 268.561 643.853 263.584 463.485 268.791C245.29 275.086 97.7411 430.973 -8.84761 591.048C-146.642 797.957 -263.157 1037.09 -264.359 1284.26C-265.465 1513.61 -204.22 1748.39 -102.972 1963L-243.857 1965.24C-252.672 1944.88 -261.942 1925.06 -270.118 1906.12C-432.48 1529.89 -474.69 1099.07 -307.852 716.897C-234.298 548.37 -122.446 393.335 24.0464 271.704C107.424 202.478 205.715 155.965 312.855 127.444C415.413 100.135 530.109 100.706 628.783 64.1246C799.699 0.812008 915.356 -146.124 936.261 -314.098C962.118 -521.918 904.719 -731.105 925.022 -940.627C942.094 -1116.9 999.578 -1300.35 1109.01 -1450.43C1161.45 -1522.35 1238.08 -1598.17 1316.07 -1647.02C1394.43 -1696.11 1500.82 -1700.96 1567.61 -1767.14C1654.58 -1853.37 1416.31 -1846.96 1387.36 -1847.33C1238.8 -1849.22 940.553 -1895 869.899 -1729.01C836.433 -1650.55 858.238 -1562.24 867.977 -1481.59C891.466 -1287.43 872.824 -1080.14 751.841 -913.843C642.337 -763.304 468.871 -663.505 292.771 -591.357C-10.8695 -466.893 -384.003 -387.471 -706.28 -487.601L-710.073 -725.962C-567.836 -689.467 -419.362 -673.921 -271.731 -679.283Z" fill="white" fill-opacity="0.05"/>
  <path d="M33.8769 876.833C94.3644 712.214 203.325 558.826 356.762 456.227C433.499 404.933 520.523 368.869 612.962 350.32C714.585 329.892 818.842 326.585 921.53 312.711C1064.68 293.367 1189.93 247.1 1269.07 130.609C1379.43 -31.8153 1368.31 -206.989 1349.34 -389.521C1321.35 -659.046 1225.16 -1066.31 1430.73 -1285.44C1487.08 -1345.53 1567.7 -1388.3 1653.44 -1392.2C2021.64 -1408.99 1897.25 -672.148 1918.09 -494.816C1934.16 -357.97 1980.12 -224.113 2104.29 -139.06C2299.19 -5.5935 2554.29 -8.43117 2720.73 174.174C2885.34 354.697 2792.92 616.211 2646.8 777.366C2501.66 937.437 2299.87 1053.44 2096.99 1140.46C1938.23 1208.55 1835.17 1314.29 1758.86 1459.13C1699.56 1571.68 1667 1695.61 1660.65 1820.47C1658.8 1856.73 1663.96 1895.48 1670.21 1934.78L1582.88 1936.17C1581.62 1932.48 1580.35 1928.78 1579.09 1925.09C1523.09 1760.7 1524.7 1576.56 1599.5 1417.2C1747.56 1101.7 2092.16 1070.73 2352.36 870.989C2467.76 782.385 2556.63 657.128 2563.64 515.337C2574.85 288.857 2384.72 252.46 2190.79 206.362C2097.74 184.241 1998.42 156.267 1940.45 80.4904C1862.99 -20.7712 1852.39 -161.286 1828.28 -279.693C1795.63 -440.126 1781.94 -603.908 1787.38 -767.165C1792.58 -922.851 1806.08 -1066.49 1741.04 -1214.93C1699 -1310.87 1598.83 -1318.43 1543 -1225.54C1366.24 -931.438 1372.52 -576.947 1430.39 -255.524C1461.5 -82.6845 1495.22 89.6863 1524.2 262.809C1545.78 391.609 1599.09 586.523 1438.32 659.103C1300.46 721.344 1148.38 654.916 1023.99 598.449C951.049 565.311 876.098 532.038 794.871 521.008C726.932 511.771 657.423 517.93 591.939 536.987C454.771 576.825 336.834 668.459 260.791 780.477C174.529 907.625 139.642 1059.25 130.553 1207.35C121.361 1357.81 133.496 1512.26 166.832 1659.69C190.194 1763.11 226.925 1864.5 281.8 1956.87L87.2264 1959.97C37.8677 1834.18 13.0707 1694.21 -4.51776 1571.98C-36.4012 1350.4 -44.8088 1091.1 33.8769 876.833Z" fill="white" fill-opacity="0.05"/>
  </svg>
  </div>
  <div class="container">
    <div class="adv__content">
      <div class="adv__img">
        <img src="{{ 'adv-noodle.png' |  asset_img_url: '556x556' }}" alt="noodle" width="553" height="556" loading="lazy" class="adv__noodle">
        <img src="{{ 'adv-handle.png' |  asset_img_url: '549x618' }}" alt="noodle" width="549" height="600" loading="lazy" class="adv__handle">
      </div>
      <div class="adv__info">
        <h2>We are with you on this journey</h2>
        <ul class="adv__list">
          <li>We know how it is being lost & trying to figure out your wellness/health/best way to eat </li>
          <li>We want to try & experiment with new flavors and new products with our customers</li>
        </ul>
      </div>
    </div>
  </div>
</section> 

<section class="noodle-recipe">
  <div class="noodle-recipe__bg">
    <svg width="100%" viewBox="0 0 1440 1228" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.1" clip-path="url(#clip0_42_5704)">
    <path d="M851.425 3.77734L851.424 3.77612C851.316 3.01306 851.208 2.25366 851.104 1.50006H781.137C785.5 9.09125 789.442 16.8792 793.049 24.5988C808.369 57.3694 817.149 94.9299 818.509 132.891C821.733 222.954 783.146 315.672 690.354 351.826C592.869 389.801 492.521 357.522 399.424 327.575C397.38 326.917 395.339 326.261 393.302 325.606C376.325 320.153 352.507 314.502 330.632 315.052C308.727 315.602 289.223 322.335 280.08 341.152C273.863 353.954 275.628 368.923 278.301 383.336L278.301 383.336C285.778 423.7 298.278 463.135 310.753 502.492C312.303 507.382 313.853 512.271 315.392 517.16C319.543 530.341 324.308 543.534 329.112 556.835C332.34 565.774 335.586 574.762 338.675 583.827C346.334 606.303 352.963 629.088 355.687 652.178C359.428 683.925 353.323 717.515 334.48 744.661L333.248 743.806L334.48 744.661C314.04 774.101 280.649 794.125 243.578 798.639C175.049 806.983 124.355 764.894 86.7475 709.61C49.4969 654.85 24.8013 586.751 8.07509 540.627L7.58592 539.278C-26.2682 445.931 -47.0834 349.002 -63.87 251.903C-71.6939 206.653 -78.4665 161.836 -82.1791 116.228C-84.2454 90.8441 -85.7271 65.4189 -86.5811 39.971C-86.6507 37.8961 -86.4241 32.2682 -86.1371 25.1384L-86.125 24.8383C-85.8478 17.9523 -85.5133 9.62292 -85.314 1.50006H-170.933C-163.537 110.539 -148.178 219.002 -124.361 325.96C-99.6805 436.833 -66.3485 546.171 -24.0548 652.232C3.68819 721.798 38.7625 793.989 104.074 838.698C162.675 878.814 241.204 893.635 305.46 856.769L306.207 858.07L305.46 856.769C357.851 826.714 376.705 784.862 383.188 738.355C386.436 715.054 386.574 690.6 386.244 665.851C386.187 661.549 386.115 657.236 386.044 652.919C385.704 632.445 385.363 611.879 386.526 591.82C388.161 563.693 390.147 535.401 393.533 507.36C397.517 474.373 406.577 444.036 435.107 421.54C467.787 395.773 510.759 394.585 550.756 396.937C559.706 397.463 568.526 398.137 577.241 398.803C623.054 402.304 665.992 405.585 709.906 385.997C811.615 340.635 841.911 229.78 850.985 132.271C853.637 103.779 855.603 75.1883 854.895 46.6423C854.541 32.3005 853.462 17.9789 851.425 3.77734Z" stroke="#F6DEDE" stroke-width="3"/>
    <path d="M721.959 1.50037H670.824C676.491 8.18085 681.936 15.0211 687.126 21.9981C711.68 55.0016 729.449 99.3911 728.828 141.319C728.266 179.145 712.72 214.986 673.74 238.454C633.425 262.722 588.405 253.927 546.889 233.285C505.361 212.637 466.977 179.968 439.634 155.868C433.584 150.535 427.177 144.663 420.449 138.498C396.624 116.664 368.782 91.1484 338.558 72.862C299.853 49.4442 257.666 38.1465 215.421 61.5054C155.113 94.853 139.741 162.045 145.192 233.218C150.639 304.336 176.864 378.878 199.047 426.023C201.969 432.233 206.529 440.506 211.866 450.19C214.153 454.338 216.581 458.745 219.085 463.36C227.408 478.698 236.509 496.241 243.751 513.878C250.986 531.497 256.41 549.313 257.306 565.183C258.202 581.074 254.562 595.215 243.428 605.147L243.427 605.148C235.728 612.001 224.238 612.495 214.847 610.531C191.739 605.703 176.578 587.667 165.472 566.916C159.908 556.521 155.321 545.37 151.246 534.724C149.808 530.967 148.437 527.283 147.11 523.717C144.661 517.136 142.361 510.956 140.063 505.458C73.8899 347.142 46.7489 167.666 93.454 1.50037H-12.689C0.262053 140.511 20.1821 280.756 58.0493 415.629C74.7076 474.961 94.6098 534.757 118.646 591.857C128.139 614.405 140.052 640.622 156.601 662.518C173.141 684.401 194.216 701.842 222.008 707.057C241.294 710.673 260.715 705.728 274.806 692.864C304.9 665.357 304.125 620.067 295.589 584.698C289.882 561.074 280.43 538.419 270.673 515.921L270.673 515.921C264.297 501.203 257.888 486.505 251.478 471.805C247.458 462.585 243.437 453.365 239.425 444.138L240.8 443.54L239.425 444.138C219.538 398.4 198.513 348.65 208.884 297.688C215.874 263.341 239.828 230.379 275.241 219.098C302.045 210.559 331.548 213.966 359.917 222.392C388.297 230.821 415.707 244.325 438.387 256.161C446.62 260.458 454.655 265.085 462.639 269.714C463.283 270.087 463.927 270.461 464.57 270.834C471.911 275.093 479.217 279.332 486.64 283.322C502.782 291.999 519.397 299.455 537.838 303.264C588.356 313.699 640.807 310.715 682.082 291.872C723.288 273.06 753.398 238.44 759.46 185.347C764.745 139.045 756.394 88.5891 744.733 53.7366L746.155 53.2606L744.733 53.7362C738.736 35.7981 731.131 18.2281 721.959 1.50037Z" stroke="#F6DEDE" stroke-width="3"/>
    <path d="M-427.5 920.112V1053.35C-362.629 987.008 -276.18 924.526 -174.938 963.449C-127.944 981.517 -92.9783 1014.72 -58.6866 1047.27C-50.7867 1054.78 -42.9225 1062.24 -34.9552 1069.48C7.67249 1108.22 53.4363 1140.72 123.972 1138.84C154.423 1138.03 184.289 1132.6 214.287 1127.14L214.867 1127.03C245.021 1121.55 275.312 1116.06 306.247 1115.37L306.247 1115.37C334.792 1114.74 362.808 1118.98 389.192 1129.58L388.633 1130.97L389.192 1129.58C402.336 1134.86 414.861 1141.24 427.22 1147.8C430.301 1149.44 433.37 1151.09 436.435 1152.73C445.688 1157.7 454.91 1162.65 464.345 1167.24L463.689 1168.59L464.346 1167.24C490.766 1180.09 519.13 1189.39 548.938 1185.39C580.976 1181.08 609.382 1164.64 636.213 1147.97C643.607 1143.38 651.028 1138.63 658.505 1133.86C700.235 1107.19 743.697 1079.41 793.797 1070.1C851.926 1059.28 906.485 1081.24 946.466 1120.67L945.413 1121.74C967.043 1143.08 983.664 1168.42 997.703 1194.66C1010.2 1218.01 1023.44 1242.96 1031.76 1267.94L1033.19 1267.47C1033.19 1267.47 1033.19 1267.47 1033.19 1267.47C1033.79 1269.27 1034.32 1271.03 1034.8 1272.76H1093.88C1091.67 1267.93 1089.32 1263.18 1087.03 1258.57L1086.71 1257.94C1084.21 1252.9 1081.79 1248.03 1079.75 1243.46L1081.12 1242.85L1079.75 1243.46C1067.06 1214.99 1053.35 1186.89 1036.84 1160.26C1005.32 1109.42 962.718 1064.32 905.138 1039.65C853.551 1017.55 792.474 1013.56 741.667 1039.39L740.987 1038.05L741.667 1039.39C723.182 1048.78 706.289 1061.35 689.25 1074.02C683.969 1077.95 678.673 1081.89 673.312 1085.75C650.731 1102 627.084 1116.73 598.852 1122.56L598.549 1121.09L598.852 1122.56C565.679 1129.4 533.629 1120.09 502.475 1107.42C493.19 1103.64 483.918 1099.53 474.713 1095.46C468.508 1092.71 462.335 1089.97 456.208 1087.36C440.933 1080.85 425.825 1075.05 410.797 1071.47C356.912 1058.63 301.244 1061.84 245.874 1065.03C237.047 1065.54 228.228 1066.05 219.425 1066.49C154.899 1069.74 86.5022 1070.44 27.175 1041.63C-2.60593 1027.18 -27.7105 1007.08 -51.2448 985.339C-61.9677 975.432 -72.3792 965.17 -82.756 954.942C-83.765 953.948 -84.7737 952.953 -85.7823 951.96C-97.1708 940.742 -108.553 929.607 -120.336 919.025C-167.946 876.295 -228.661 838.204 -296.908 848.05L-297.122 846.565L-296.908 848.05C-348.502 855.491 -393.133 884.485 -427.5 920.112Z" stroke="#F6DEDE" stroke-width="3"/>
    <path d="M392.918 1198.62L392.918 1198.62C351.988 1184.06 307.174 1179.99 263.704 1183.86L263.571 1182.37L263.704 1183.86C241.533 1185.83 219.706 1189.9 198.231 1195.51L198.231 1195.51C190.7 1197.47 183.178 1199.57 175.64 1201.68C160.724 1205.86 145.746 1210.05 130.51 1213.18C81.2531 1223.3 46.6127 1211.69 17.7318 1189.62C-4.61713 1172.55 -23.5491 1149.17 -43.1432 1124.97C-48.7353 1118.07 -54.3813 1111.1 -60.1761 1104.18C-82.2014 1077.95 -108.287 1053.48 -141.442 1040.73L-140.904 1039.33L-141.442 1040.73C-170.236 1029.65 -204.419 1029.32 -238.301 1034.72C-272.164 1040.11 -305.595 1051.19 -332.797 1062.8C-365.516 1076.76 -398.112 1099.28 -427.5 1125.68V1272.76H-366.328C-360.616 1262.21 -356.717 1250.51 -353.863 1239.29L-353.863 1239.29C-353.735 1238.79 -353.607 1238.28 -353.478 1237.78C-342.844 1195.94 -331.127 1149.85 -294.042 1119.3C-251.067 1083.91 -184.623 1090.83 -144.12 1126.68C-128.22 1140.76 -116.251 1157.76 -104.582 1174.85C-103.831 1175.95 -103.081 1177.05 -102.332 1178.15C-91.4058 1194.17 -80.5417 1210.1 -66.6757 1223.89C-47.771 1242.68 -26.2682 1259.17 -2.86081 1272.76H498.258C493.788 1266.97 488.974 1261.4 483.868 1256.1C459.111 1230.4 427.369 1210.87 392.918 1198.62Z" stroke="#F6DEDE" stroke-width="3"/>
    <path d="M1858.7 972.525C1861.48 974.782 1864.43 977.174 1867.5 979.623V826.712C1862.16 824.143 1856.65 821.846 1850.97 819.848L1851.47 818.433L1850.97 819.848C1811.53 805.973 1767.87 807.755 1729.76 824.438C1689.45 842.095 1657.77 873.417 1629.8 905.529C1618.7 918.277 1607.77 931.465 1596.78 944.734C1577.01 968.595 1557.03 992.715 1535.42 1015C1501.74 1049.73 1463.92 1080.21 1416.3 1098.79C1371.96 1116.1 1322.24 1120.64 1276.63 1104.3C1213.58 1081.72 1168.91 1025.5 1141.76 971.056C1140.94 969.422 1140.13 967.787 1139.32 966.152C1130.24 947.85 1121.2 929.608 1107.57 914.142C1082.27 885.418 1042.93 873.226 1003.91 873.186C983.367 873.157 962.736 876.259 943.086 881.884C937.648 883.441 932.235 885.203 926.786 886.975C926.277 887.141 925.767 887.307 925.256 887.473C919.301 889.409 913.301 891.335 907.238 892.977C895.11 896.261 882.653 898.431 869.574 897.278C845.289 895.141 823.561 883.023 803.406 871.754C784.202 861.031 765.274 850.472 744.119 844.013C650.876 815.569 552.904 856.846 469.32 894.765C467.914 895.403 466.508 896.041 465.102 896.68C420.471 916.934 375.246 937.459 326.885 949.141L326.885 949.141C276.15 961.388 224.939 960.804 175.001 945.461C137.003 933.787 104.504 915.779 71.7706 895.279C60.0576 887.945 44.6152 878.359 28.503 872.346C12.3627 866.324 -4.13395 864.008 -18.1221 870.793C-31.1887 877.14 -37.2583 886.7 -38.4154 897.161C-39.5829 907.714 -35.7696 919.402 -28.5908 929.876L-29.8281 930.724L-28.5907 929.876C-0.570911 970.766 40.5564 1003.26 88.6624 1021.19C158.311 1047.14 234.91 1042.19 307.463 1029.61C326.287 1026.34 344.949 1022.3 363.644 1018.24C364.568 1018.04 365.493 1017.84 366.417 1017.64C386.028 1013.39 405.683 1009.17 425.538 1005.91L425.782 1007.39L425.539 1005.91C459.848 1000.27 500.041 999.124 526.207 1025.68C530.228 1029.76 533.879 1034.19 537.477 1038.57C538.802 1040.18 540.121 1041.78 541.448 1043.35C546.415 1049.24 551.57 1054.79 557.918 1059.24L557.918 1059.25C570.295 1067.94 585.964 1071.77 601.309 1069.99L601.483 1071.48L601.31 1069.99C630.334 1066.61 652.196 1045.31 671.748 1025.91C694.082 1003.74 716.744 983.883 746.71 970.703C806.692 944.316 880.258 947.304 939.295 974.367C971.322 989.049 997.121 1012.84 1020.83 1038.77C1030.14 1048.96 1039.15 1059.5 1048.09 1069.95C1050.52 1072.8 1052.96 1075.65 1055.39 1078.48C1066.75 1091.7 1078.1 1104.6 1089.98 1116.35C1137.78 1163.67 1171.13 1196.15 1241.79 1207.99C1303.8 1218.37 1370.63 1211.12 1425.88 1181.89C1455.66 1166.14 1482.18 1145.06 1508.43 1124.21C1512.12 1121.28 1515.79 1118.36 1519.47 1115.46L1520.4 1116.63L1519.47 1115.46C1547.81 1093.12 1574.95 1069.09 1602.15 1045.02C1607.66 1040.15 1613.17 1035.27 1618.69 1030.41C1651.46 1001.53 1684.65 973.091 1720.33 948.032C1738.59 935.203 1760.45 932.751 1781.93 936.15C1803.41 939.548 1824.64 948.807 1841.82 959.576C1844.96 961.539 1849.08 964.753 1853.83 968.58C1855.39 969.833 1857.02 971.154 1858.7 972.525Z" stroke="#F6DEDE" stroke-width="3"/>
    <path d="M681.377 456.657H681.379C714.663 456.935 747.592 450.552 777.187 435.843C829.627 409.785 867.657 363.346 893.202 314.188C922.189 258.409 937.262 196.312 938.704 134.367C939.753 89.5366 933.624 44.5527 920.34 1.49951H1001.26C1037.6 99.1738 1011.92 213.201 969.976 306.575L971.345 307.19L969.976 306.576C945.597 360.872 911.561 414.31 859.487 448.434C801.991 486.117 729.469 492.867 661.084 486.619L661.084 486.619C656.331 486.186 651.468 485.645 646.542 485.098C636.841 484.02 626.892 482.915 617.048 482.543C602.151 481.982 587.249 483.08 573.253 488.513C543.368 500.09 533.201 529.351 530.566 560.838C529.245 576.621 529.801 593.102 530.775 608.45C531.153 614.409 531.592 620.179 532.01 625.673C532.674 634.387 533.284 642.408 533.514 649.385C533.532 649.945 533.545 650.779 533.562 651.84C533.678 658.999 533.96 676.533 537.079 690.633C537.977 694.695 539.121 698.526 540.589 701.773C542.05 705.003 543.881 707.767 546.214 709.571C548.605 711.418 551.463 712.206 554.745 711.538C557.95 710.885 561.443 708.87 565.28 705.389L565.281 705.388C577.033 694.72 583.148 681.05 588.412 667.211C589.282 664.922 590.129 662.632 590.972 660.349C595.264 648.737 599.483 637.32 606.414 627.33L606.414 627.33C623.053 603.338 649.181 579.571 674.101 563.204L673.277 561.95L674.101 563.204C726.105 529.045 790.162 510.559 851.991 504.474L851.844 502.981L851.991 504.474C887.481 500.98 923.06 503.037 958.707 505.098C959.933 505.168 961.16 505.239 962.386 505.31C999.222 507.433 1036.12 509.355 1072.81 504.86C1132.35 497.564 1183.97 461.036 1205.54 407.698C1211.78 392.283 1214.67 375.707 1217.13 359.14C1217.49 356.773 1217.83 354.406 1218.17 352.043C1220.23 337.815 1222.28 323.71 1226.13 310.257L1224.68 309.844L1226.13 310.257C1235.52 277.424 1251.25 247.239 1274.99 221.499C1316.85 176.122 1370.64 141.148 1429.42 117.817C1562.69 64.9037 1714.32 75.6944 1847.52 123.609C1850.87 124.813 1854.3 126.101 1857.8 127.417L1857.83 127.429C1861 128.62 1864.23 129.833 1867.5 131.022V171.029C1791.74 141.427 1709.25 124.052 1628.96 125.503C1541.5 127.087 1457.64 164.177 1385.43 207.539C1329.62 241.054 1274.83 287.489 1273.82 355.371C1273.76 359.745 1273.72 364.185 1273.68 368.676C1273.45 392.703 1273.21 418.186 1269.28 442.654C1264.63 471.662 1254.8 499.063 1233.78 520.686C1209 546.18 1172.1 560.455 1132.61 568.313C1093.15 576.165 1051.29 577.571 1016.77 577.478C980.459 577.38 944.329 572.368 908.108 567.342C905.453 566.974 902.797 566.605 900.14 566.239C861.288 560.877 822.323 555.916 783.144 557.506C720.062 560.065 679.078 604.245 655.234 654.639C649.526 666.699 644.687 679.126 640.444 691.692L640.444 691.693C638.897 696.28 637.44 700.869 635.987 705.443C632.824 715.399 629.683 725.288 625.688 734.957C608.573 776.369 572.137 799.033 528.347 814.466C526.538 815.103 524.726 815.746 522.911 816.391C509.198 821.262 495.308 826.197 481.102 828.601C464.055 831.484 447.842 828.366 436.625 820.278C425.483 812.244 419.12 799.208 421.812 781.774L681.377 456.657ZM681.377 456.657C663.145 456.488 644.987 454.497 627.125 451.207C618.019 449.529 608.742 447.269 599.41 444.988L599.022 444.893C589.803 442.64 580.529 440.373 571.233 438.605C552.377 435.019 533.579 433.518 515.331 438.324C477.34 448.33 465.381 483.581 460.61 517.444L459.124 517.235M681.377 456.657L459.124 517.235M459.124 517.235L460.61 517.444C456.77 544.662 457.797 572.215 458.829 599.906M459.124 517.235L458.829 599.906M458.829 599.906C458.97 603.691 459.111 607.478 459.24 611.268M458.829 599.906L459.24 611.268M459.24 611.268C460.309 642.721 460.525 674.274 452.618 705.26M459.24 611.268L452.618 705.26M452.618 705.26C449.471 717.595 443.553 729.18 437.743 740.556M452.618 705.26L437.743 740.556M437.743 740.556C437.193 741.632 436.645 742.706 436.099 743.779M437.743 740.556L436.099 743.779M436.099 743.779C429.753 756.264 423.852 768.58 421.812 781.774L436.099 743.779Z" stroke="#F6DEDE" stroke-width="3"/>
    <path d="M1215.81 156.709L1216.79 157.851L1215.81 156.709C1299.28 85.6658 1412.42 49.2347 1529.76 38.1376C1646.36 27.1104 1767.22 41.0842 1867.5 71.0888V1.50018H1379.63C1378.94 1.83099 1378.24 2.16162 1377.55 2.49222C1364.5 8.70959 1351.49 14.9083 1338.76 21.7181C1314.41 34.7423 1293.04 51.8599 1271.65 68.9986C1266.06 73.4714 1260.48 77.9457 1254.84 82.349C1250.05 86.0856 1245.11 90.294 1239.96 94.6754C1238.97 95.5204 1237.97 96.3718 1236.96 97.2274C1230.74 102.508 1224.24 107.937 1217.44 112.936C1203.87 122.922 1188.99 131.296 1172.63 133.37C1161 134.844 1152.4 133.137 1146.16 129.054C1139.91 124.968 1136.25 118.651 1134.19 111.372C1132.14 104.109 1131.65 95.7812 1131.81 87.4851C1131.94 80.4753 1132.54 73.4053 1133.1 66.9516C1133.2 65.7648 1133.3 64.5989 1133.39 63.458C1135.23 41.1858 1135.64 21.623 1133.75 1.50018H1071.46C1079.58 31.0402 1083.04 61.5824 1082.49 92.4908C1081.59 142.175 1078.26 194.103 1066.66 242.791C1059.28 273.766 1047.43 304.342 1028.81 331.079C1027.11 333.517 1025.32 336.036 1023.47 338.626C1014.4 351.358 1004.1 365.805 998.16 380.682C994.599 389.601 992.652 398.568 993.449 407.308C994.243 416.017 997.77 424.601 1005.33 432.779L1004.23 433.797L1005.33 432.779C1017.93 446.415 1035.7 451.317 1054.19 450.661C1072.69 450.005 1091.76 443.781 1106.65 435.374C1144.72 413.879 1155.11 375.162 1154.76 334.899C1154.46 299.543 1154.65 267.796 1162.45 238.513C1170.27 209.158 1185.72 182.328 1215.81 156.709Z" stroke="#F6DEDE" stroke-width="3"/>
    <path d="M1136.38 63.7048L1136.38 63.705C1136.28 64.8601 1136.18 66.0358 1136.08 67.2286C1135.53 73.6844 1134.94 80.6405 1134.8 87.5422C1134.65 95.7219 1135.14 103.709 1137.08 110.555C1139.01 117.386 1142.34 122.974 1147.8 126.542C1153.26 130.114 1161.07 131.81 1172.25 130.393C1187.86 128.415 1202.24 120.395 1215.67 110.518C1222.37 105.586 1228.81 100.216 1235.02 94.9399C1236.02 94.0908 1237.01 93.2436 1238 92.4011C1243.15 88.0204 1248.15 83.7629 1252.99 79.9835C1258.56 75.6327 1264.1 71.1936 1269.66 66.7424C1291.08 49.5819 1312.73 32.2402 1337.34 19.0722C1348.96 12.8554 1360.81 7.14792 1372.66 1.49944H1136.76C1138.65 21.7539 1138.22 41.4247 1136.38 63.7048Z" stroke="#F6DEDE" stroke-width="3"/>
    <path d="M1306.35 401.192L1306.35 401.191C1312.32 372.941 1324.45 346.248 1341.96 322.61C1377.03 275.307 1430.17 241.265 1487.6 221.967C1562.33 196.871 1653.46 198.156 1731.64 206.854C1774.45 211.617 1823.34 218.463 1867.5 232.721V288.96C1835.09 273.091 1799.8 262.598 1763.93 256.059C1711.68 246.523 1657.08 243.546 1604 247.111L1604.1 248.608L1604 247.111C1551.75 250.633 1498.26 262.117 1453.67 289.393L1454.45 290.673L1453.67 289.393C1414.38 313.44 1382.49 350.363 1369.1 393.067M1306.35 401.192L1370.53 393.516M1306.35 401.192C1303.06 416.753 1301.26 432.512 1299.75 448.366C1299.39 452.111 1299.05 455.864 1298.71 459.62C1297.61 471.74 1296.5 483.902 1294.85 495.991C1288.81 540.26 1273.08 579.452 1231.94 604.643C1174.88 639.597 1112.64 636.969 1048.26 632.042C1033.65 630.923 1017.92 629.333 1001.48 627.67C964.262 623.905 923.411 619.773 883.646 619.931C826.329 620.158 771.774 629.319 734.171 661.051L734.171 661.051C713.562 678.438 699.217 703.024 698.34 728.846L696.841 728.795L698.34 728.846C697.87 742.679 701.411 754.072 708.043 763.481C714.69 772.911 724.505 780.435 736.704 786.397C761.137 798.338 794.848 803.879 830.831 806.068C866.78 808.255 904.821 807.088 937.829 805.716C942.732 805.513 947.526 805.304 952.188 805.101C978.841 803.942 1001.17 802.97 1014.6 804.157C1063.03 808.435 1110.96 821.947 1142 860.127L1140.84 861.074L1142 860.127C1162.41 885.224 1174.31 913.76 1186.05 941.933C1188.25 947.209 1190.45 952.472 1192.69 957.698C1206.95 990.9 1223.25 1022.73 1255.56 1047.59L1254.65 1048.78L1255.56 1047.59C1287.4 1072.09 1325.97 1077.07 1363.63 1070.21C1401.31 1063.35 1437.97 1044.65 1465.78 1021.97C1521.12 976.831 1560.73 914.542 1590.2 851.941C1613.48 802.496 1650.45 770.119 1701.29 745.874C1740.79 727.031 1784.46 716.386 1828.59 713.816C1840.98 713.095 1854.19 714.365 1867.5 715.994V692.01C1866.56 691.742 1865.61 691.475 1864.67 691.21L1865.08 689.766L1864.67 691.21C1806.73 674.902 1742.22 676.306 1686.86 699.891C1632.12 723.209 1602.5 761.128 1577.93 803.458C1570.82 815.703 1564.18 828.237 1557.47 840.901C1552.53 850.216 1547.56 859.601 1542.34 868.991C1530.06 891.064 1516.52 912.942 1499.2 933.263C1468.45 969.341 1424.47 997.507 1374.04 1000.38C1353.92 1001.53 1337.86 998.726 1324.81 992.865C1311.75 986.999 1301.8 978.114 1293.87 967.241C1279.22 947.154 1271.39 920.158 1263.44 892.776C1262.82 890.639 1262.2 888.499 1261.57 886.36C1253.25 857.865 1242.95 828.054 1216.45 810.967C1198.63 799.473 1177.43 793.056 1155.37 788.666C1141.71 785.947 1127.84 784.025 1114.28 782.143C1105.87 780.976 1097.57 779.826 1089.51 778.511C1032.91 769.288 975.234 765.893 917.852 768.357C912.357 768.593 906.901 768.855 901.477 769.115C852.909 771.445 806.949 773.649 759.271 756.228C741.939 749.895 732.028 738.736 730.949 726.513C729.868 714.269 737.711 701.719 754.219 692.758C857.272 636.828 982.591 637.079 1096.24 653.286C1118 656.388 1139.74 659.591 1161.46 662.793C1200.74 668.581 1239.99 674.367 1279.36 679.549C1283.63 680.112 1288.1 680.756 1292.71 681.42C1312.76 684.308 1335.45 687.578 1356.45 686.278C1382.21 684.682 1404.96 676.232 1416.95 652.069C1427.31 631.196 1426.59 609.359 1420.66 587.923C1414.71 566.456 1403.59 545.533 1393.28 526.562M1306.35 401.192L1394.6 525.846M1369.1 393.067L1370.53 393.516M1369.1 393.067C1369.1 393.067 1369.1 393.067 1369.1 393.066L1370.53 393.516M1369.1 393.067C1362.68 413.473 1360.88 435.083 1364.56 456.147C1368.95 481.307 1381.22 504.36 1393.28 526.562M1370.53 393.516C1364.18 413.711 1362.4 435.079 1366.04 455.889C1370.38 480.77 1382.52 503.615 1394.6 525.846M1393.28 526.562L1394.6 525.846M1393.28 526.562C1393.28 526.562 1393.28 526.562 1393.28 526.562L1394.6 525.846" stroke="#F6DEDE" stroke-width="3"/>
    <path d="M879.905 689.014L879.905 689.014C899.653 683.207 919.947 682.531 940.391 683.902C953.868 684.805 967.321 686.588 980.719 688.363C987.696 689.287 994.659 690.21 1001.6 691.005C1035.94 694.939 1070.39 697.57 1104.8 700.198C1106.97 700.363 1109.13 700.529 1111.3 700.695C1147.88 703.494 1184.42 706.383 1220.81 710.926C1235.17 712.719 1250.09 715.707 1265.32 718.86C1266.85 719.176 1268.38 719.494 1269.91 719.812C1283.66 722.666 1297.64 725.569 1311.62 727.75C1342.67 732.597 1373.9 733.918 1402.89 723.153C1416.81 717.987 1429.39 709.8 1440.03 700.035C1463.56 678.446 1477.09 649.691 1482.64 619.634C1489.09 584.582 1484.58 549.276 1478.56 514.765C1468.28 455.7 1460.82 396.163 1510.66 351.214C1554.72 311.47 1610.5 308.554 1664.83 323.527C1719.19 338.505 1771.87 371.338 1809.33 402.687C1818.29 410.182 1827.92 417.852 1837.82 425.735L1838.74 426.466C1848.18 433.981 1857.87 441.693 1867.5 449.652V518.694C1866.78 518.226 1866.06 517.751 1865.34 517.266L1864.5 518.513L1865.34 517.266C1861.11 514.443 1856.88 511.62 1852.66 508.796C1820.01 486.991 1787.37 465.185 1754.55 443.601L1753.73 444.854L1754.55 443.601C1740.85 434.594 1726.99 425.641 1712.25 418.043C1692.34 407.777 1668.48 400.143 1644.99 399.17C1621.48 398.196 1598.26 403.894 1579.83 420.403C1554.56 443.034 1543.08 477.537 1548.56 505.866C1551.31 520.059 1558.33 532.743 1570.05 541.544C1581.78 550.346 1598.07 555.161 1619.19 553.877C1682.26 550.041 1738.39 555.07 1795.25 582.752C1804.63 587.318 1813.5 593.484 1822.53 599.772C1825.16 601.601 1827.81 603.441 1830.48 605.255C1841.96 613.031 1853.95 620.27 1867.5 623.666V648.695C1862.87 645.17 1858.09 641.619 1852.95 638.49L1852.95 638.49C1811.15 613.105 1763.52 600.221 1713.83 605.4C1713.83 605.4 1713.83 605.4 1713.83 605.4L1713.98 606.892L879.905 689.014ZM879.905 689.014C874.352 690.646 870.313 692.389 867.508 694.168C864.697 695.951 863.24 697.698 862.643 699.296C861.506 702.342 863.226 705.911 867.846 709.884C872.346 713.754 879.044 717.495 886.245 720.712C893.425 723.919 901.005 726.561 907.196 728.262L906.799 729.709M879.905 689.014L906.799 729.709M906.799 729.709L907.196 728.262C931.634 734.981 957.264 737.158 983.023 738.321C990.27 738.648 997.533 738.895 1004.78 739.141C1023.25 739.769 1041.62 740.393 1059.39 742.333C1068.87 743.369 1078.42 744.315 1087.99 745.264C1135.33 749.957 1183.31 754.713 1228.18 770.725L1227.67 772.138L906.799 729.709Z" stroke="#F6DEDE" stroke-width="3"/>
    <path d="M937.596 1272.76C935.92 1270.24 933.409 1268.19 930.718 1266C930.268 1265.63 929.812 1265.26 929.355 1264.88L929.355 1264.88C916.71 1254.43 909.112 1241.82 903.175 1228.47C900.211 1221.81 897.651 1214.93 895.094 1208.05L895.031 1207.89C892.489 1201.05 889.945 1194.2 886.98 1187.46L888.354 1186.86L886.98 1187.46C880.038 1171.68 869.395 1154.37 855.316 1142.16C841.271 1129.99 823.883 1122.93 803.263 1127.37L802.947 1125.91L803.263 1127.37C787.809 1130.7 778.442 1139.16 771.498 1149.87C766.601 1157.42 762.967 1165.97 759.269 1174.67C757.655 1178.47 756.029 1182.3 754.279 1186.08C746.317 1203.32 734.709 1219.77 718.219 1231.01C709.996 1236.62 700.136 1239.58 690.601 1242.44C689.777 1242.68 688.956 1242.93 688.138 1243.18C677.743 1246.32 667.921 1249.61 660.443 1256.24L937.596 1272.76ZM937.596 1272.76H651.901C651.914 1272.08 651.965 1271.4 652.055 1270.73C652.81 1265.2 656.01 1260.17 660.442 1256.24L937.596 1272.76Z" stroke="#F6DEDE" stroke-width="3"/>
    <path d="M605.383 130.906L605.595 132.391L605.383 130.906C625.506 128.035 637.7 121.886 644.103 113.729C650.459 105.632 651.364 95.2144 648.107 83.1359C644.845 71.0387 637.452 57.4834 627.535 43.4252C617.742 29.5426 605.548 15.2521 592.601 1.49963H403.057C426.838 34.7014 456.651 69.5712 490.588 94.9289C525.334 120.891 564.254 136.776 605.383 130.906Z" stroke="#F6DEDE" stroke-width="3"/>
    </g>
    <defs>
    <clipPath id="clip0_42_5704">
    <rect width="1440" height="1274" fill="white"/>
    </clipPath>
    </defs>
    </svg>
  </div>
  <h2 class="noodle-recipe__title">    High protein instant cup noodles 
    </h2>
  </h2>
  <div class="noodle-recipe__content">
    <div class="noodle-recipe__left">
      <div class="compaund">
        <h3>High-gluten wheat flour</h3>
        <p>50.2%</p>
        <img src="{{ 'gluten.png' | asset_img_url: '180x170' }}" alt="noodle" width="180" height="170" loading="lazy" class="compaund__img">
        <div class="compaumd__arrow">
          <svg width="166" height="63" viewBox="0 0 166 63" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M165.818 23.3755C165.694 23.0479 164.817 22.875 164.281 23.0296C161.547 23.8257 158.811 24.6529 156.082 25.5222C152.064 26.7986 148.053 28.0838 144.025 29.2409C143.438 29.4083 142.726 29.4039 142.281 29.7215C141.578 30.2293 140.756 30.9154 140.525 31.5486C140.379 31.9472 141.089 32.5274 141.637 32.7521C142.127 32.9578 145.731 31.9473 149.376 30.7402C153.019 29.5372 156.695 28.1432 157.37 27.8828L157.636 28.2087C151.573 30.6268 145.358 33.4077 136.876 37.9707C125.103 44.2375 113.025 49.9717 100.463 54.1926C94.176 56.2776 87.7698 57.9627 81.2769 59.0942C80.4711 59.2553 79.6475 59.3465 78.8377 59.4781C78.0229 59.5908 77.2083 59.7304 76.3927 59.8263L73.9395 60.0886L72.7128 60.2197L71.4812 60.3048L69.0228 60.4668C68.2015 60.5269 67.383 60.5187 66.56 60.5454C65.7401 60.5578 64.9179 60.6012 64.1042 60.585L61.6679 60.5283C55.1643 60.2346 48.6642 59.0907 42.3883 57.2173C40.8087 56.7871 39.2707 56.2146 37.7115 55.7049L35.4161 54.8313L34.2708 54.3906L33.1412 53.9052C30.1079 52.6615 27.1931 51.1648 24.3456 49.5733L22.2375 48.3314C21.5409 47.9103 20.868 47.4494 20.1833 47.0084L19.1605 46.3441L18.1726 45.6304C17.5179 45.148 16.8467 44.6935 16.2079 44.1936L14.3138 42.6748C13.99 42.4276 13.6925 42.1637 13.399 41.9022C13.1078 41.6368 12.7968 41.3864 12.5167 41.1114C11.3528 40.0391 10.281 38.8762 9.26395 37.6758C7.25613 35.2584 5.57317 32.587 4.4027 29.7467C3.79517 28.3322 3.37708 26.8634 3.06174 25.3859C2.73841 23.9035 2.61185 22.4092 2.63189 20.9052L2.67223 19.4942C2.71015 19.0313 2.78714 18.5755 2.83941 18.1158C2.87272 17.8875 2.89168 17.6561 2.92899 17.4302L3.08798 16.7644L3.24298 16.0962L3.31729 15.7629C3.3503 15.6532 3.3913 15.5481 3.42831 15.4408L3.87162 14.1624L4.44987 12.9484L4.59284 12.6453L4.77176 12.3636L5.12798 11.794C5.24992 11.6078 5.35826 11.4081 5.48819 11.2267L5.90594 10.6991C7.01092 9.29233 8.35879 8.04128 9.93489 7.06132C11.5054 6.07261 13.2377 5.29378 15.0625 4.70497C18.7265 3.55758 22.7124 3.16875 26.6612 3.43212C28.6395 3.53915 30.609 3.85138 32.5448 4.28373C34.4877 4.70414 36.3765 5.32421 38.2037 6.07476C40.4339 6.98493 42.6944 8.28003 44.568 9.45207C45.025 9.75722 45.5066 10.0122 45.9245 10.2832C46.3424 10.5542 46.7562 10.7957 47.1586 10.9927C47.9278 11.4194 48.6255 11.7117 49.2838 11.7431C47.1106 8.25045 43.5429 5.36065 39.4529 3.51862C35.3674 1.61455 30.763 0.652448 26.134 0.457868C22.7007 0.356446 19.2533 0.705197 15.9451 1.57402C14.3032 2.05614 12.6782 2.59154 11.1563 3.37185C10.3768 3.71588 9.65515 4.18077 8.92381 4.60749C8.55814 4.82085 8.22777 5.09305 7.87657 5.33662C7.53336 5.58496 7.17655 5.81979 6.86777 6.11027L5.90864 6.94593C5.59987 7.2364 5.32629 7.55867 5.03112 7.86266L4.59954 8.32262C4.45676 8.48017 4.34194 8.65442 4.20877 8.8231L3.44558 9.82964C3.22155 10.1869 3.0135 10.5536 2.79585 10.9093L2.47298 11.4503L2.2084 12.0207L1.68324 13.1639L1.2818 14.354C0.24719 17.5399 0.0973114 20.9679 0.548543 24.2691C0.584335 24.6357 0.651969 24.9943 0.725971 25.3514C0.799972 25.7085 0.858862 26.0727 0.939234 26.4282C1.13581 27.1335 1.28544 27.854 1.53533 28.5426C1.96432 29.9477 2.56676 31.2891 3.20417 32.6082C4.54343 35.2201 6.20714 37.6696 8.16224 39.8668C9.12074 40.9837 10.1753 42.0123 11.2481 43.0193C12.3344 44.0129 13.5024 44.9149 14.6545 45.8345C15.2199 46.3121 15.8391 46.7087 16.4322 47.1489C17.0348 47.5733 17.6208 48.0255 18.2376 48.426C19.4824 49.2174 20.694 50.0646 21.9816 50.7844C27.0582 53.7871 32.4498 56.271 38.0405 58.167C43.6273 60.0607 49.3891 61.4977 55.2538 62.2086L57.4542 62.4698C58.1908 62.5425 58.9257 62.5819 59.6614 62.6379C61.133 62.777 62.6112 62.769 64.0856 62.8127C65.563 62.8151 67.0346 62.7546 68.5142 62.7259L72.9348 62.4346C78.8167 61.9095 84.6463 60.873 90.3786 59.4548C101.848 56.6105 112.883 52.2608 123.564 47.2623C129.767 44.3558 136.056 41.7967 142.206 38.6532C146.52 36.4429 150.791 34.0337 155.013 31.5419C154.024 32.6185 153.035 33.6952 152.066 34.7838C150.71 36.3108 149.408 37.8752 148.225 39.4673C147.943 39.8493 148.109 40.7248 148.48 40.8654C148.836 41.0028 149.753 40.5465 150.37 40.2296C150.712 40.056 150.971 39.6495 151.219 39.3336C155.096 34.4345 159.334 29.8207 164.573 25.7344C164.821 25.537 165.117 25.3038 165.23 25.0691C165.505 24.4995 165.962 23.7795 165.815 23.3898L165.818 23.3755Z" fill="#A32101"/>
          </svg>
        </div>
      </div>
      <div class="compaund">
        <h3>wheat <br> dietary fiber</h3>
        <p>12.9%</p>
        <img src="{{ 'fiber.png' | asset_img_url: '123x123' }}" alt="noodle" width="123" height="123" loading="lazy" class="compaund__img">
        <div class="compaumd__arrow">
          <svg width="152" height="44" viewBox="0 0 152 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M151.52 0.753257C151.922 1.18239 151.888 2.50554 151.508 3.09724C150.536 4.60756 149.526 6.10746 148.486 7.59239C147.447 9.07732 146.347 10.5117 145.23 11.9552C141.939 16.1795 138.388 20.2377 134.783 24.3214C134.253 24.9188 133.867 25.8267 133.221 26.0813C132.181 26.4905 130.835 26.8353 129.908 26.4912C129.319 26.2742 128.124 24.1851 128.999 23.8587C130.077 23.4599 131.43 22.3797 132.855 20.947C134.257 19.4948 135.732 17.7106 137.093 15.9426C138.436 14.1425 139.671 12.3666 140.641 10.9637C141.61 9.56092 142.3 8.48651 142.594 8.15528L142.335 7.65058C141.384 9.05862 140.338 10.42 139.094 11.7132C138.123 12.7301 137.053 13.7397 135.817 14.7104C134.578 15.6668 133.188 16.6084 131.614 17.5328C123.82 22.0618 115.809 26.2531 107.547 29.9827C105.495 30.9444 103.392 31.7971 101.306 32.6883C100.259 33.1227 99.1938 33.525 98.1361 33.9497C97.0847 34.3761 96.018 34.7847 94.9456 35.1647C90.6872 36.7677 86.3283 38.1468 81.9043 39.3455C73.0706 41.7402 63.8694 43.262 54.4987 43.1947C49.8177 43.1453 45.1045 42.6744 40.4575 41.6942C39.2975 41.4614 38.1457 41.1498 36.9887 40.857C35.8457 40.5139 34.6922 40.2086 33.5664 39.8027C31.2976 39.0537 29.0855 38.1242 26.9235 37.0868C21.5228 34.4776 16.6014 30.8442 12.4527 26.545C8.28961 22.2485 4.90368 17.2943 2.27085 12.0138C1.47068 10.4059 0.638542 8.61998 0.372234 6.91608C0.108746 5.2265 0.395057 3.62802 1.7682 2.60058C3.51468 4.89632 5.06958 7.19997 6.55028 9.62517C8.03272 12.0441 9.48456 14.5492 11.1081 17.0207C13.5092 20.6677 16.301 24.125 19.5799 27.142C21.2113 28.6551 22.9626 30.0525 24.8352 31.2804C26.6997 32.5129 28.659 33.6228 30.7221 34.5043C37.917 37.6704 45.7744 39.1255 53.5886 39.3173C57.506 39.4126 61.4217 39.1963 65.3084 38.742C69.198 38.3019 73.0547 37.589 76.8624 36.6867C92.1181 33.0842 106.557 26.7123 120.287 19.2789C121.283 18.7357 122.247 18.1363 123.193 17.5048C124.132 16.8716 125.04 16.1822 125.947 15.4928C126.849 14.8017 127.756 14.1124 128.658 13.4213C129.554 12.7221 130.462 12.0328 131.401 11.3789C133.063 10.2353 134.747 9.08425 136.44 7.95556C134.788 8.2026 133.156 8.45485 131.496 8.61151C128.962 8.84463 126.438 8.97199 123.918 8.78943C123.313 8.75073 122.32 7.6442 122.309 7.046C122.302 6.46212 123.271 5.817 123.928 5.37609C124.288 5.124 124.894 5.21015 125.4 5.21477C133.147 5.30678 140.838 4.01014 147.955 0.437266C148.293 0.266883 148.706 0.0698771 149.051 0.117965C149.901 0.224416 151.015 0.207676 151.5 0.727453L151.52 0.753257Z" fill="#A32101"/>
          </svg>
        </div>
      </div>
      <div class="compaund">
        <h3>vegetable <br> pack</h3>
        <img src="{{ 'parsley.png' | asset_img_url: '180x170' }}" alt="noodle" width="150" height="150" loading="lazy" class="compaund__img">
        <div class="compaumd__arrow">
          <svg width="162" height="79" viewBox="0 0 162 79" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M159.919 10.7049C156.643 12.664 153.314 14.5165 149.948 16.2419C144.983 18.7408 140.023 21.3226 135.115 23.8617C134.401 24.234 133.712 24.9916 133.011 24.994C131.886 24.9939 130.487 24.8148 129.72 24.1499C129.232 23.7203 128.79 21.2024 129.75 21.1969C132.112 21.2134 136.485 18.9676 140.518 16.5849C144.542 14.1804 148.245 11.7866 149.109 11.4137L149.08 10.8017C147.539 11.7194 145.939 12.5649 144.188 13.3015C141.46 14.4801 138.372 15.4006 134.59 15.956C115.943 18.7858 97.4095 22.3466 79.2413 27.0802C70.1988 29.5491 61.2135 32.2074 52.4724 35.422C43.7692 38.6784 35.2437 42.3836 27.4185 47.017C22.5768 49.9434 17.9402 53.1439 14.0177 56.8894C13.7585 57.1138 13.5252 57.3528 13.3023 57.6003L12.6176 58.3368L11.9305 59.0678C11.6996 59.3123 11.461 59.5537 11.2717 59.8189L10.0532 61.3687C9.95347 61.497 9.84044 61.6247 9.74856 61.7561L9.49101 62.1619L8.96499 62.9783C7.59013 65.1496 6.56466 67.4796 6.13089 69.8685C5.82878 71.328 5.83883 72.8911 5.64644 74.2894C5.45338 75.701 5.01973 76.9646 3.78652 78.2737C2.69385 77.1926 1.89729 75.7343 1.4392 74.1729C0.999849 72.6098 0.791492 70.9061 0.971212 69.2272C1.24434 65.8357 2.68928 62.58 4.62423 59.818C7.48915 55.6785 11.2624 52.4669 15.1812 49.7052L16.6443 48.6529L18.1668 47.6916C19.1847 47.0624 20.1679 46.3835 21.1978 45.7815C23.2847 44.6244 25.2876 43.335 27.3954 42.2402C34.6612 38.1842 42.3198 34.8597 50.1229 31.953C52.0737 31.2264 54.0501 30.573 56.0153 29.879L58.965 28.8502L61.9446 27.9189L67.9062 26.0616L73.9232 24.3752C89.9835 19.9364 106.311 16.5056 122.716 13.6066C125.102 13.1896 127.419 12.4839 129.75 11.7922C132.079 11.1138 134.411 10.3954 136.793 9.85025C138.91 9.36921 141.048 8.95053 143.201 8.55127C141.471 8.1077 139.745 7.65628 138.028 7.15472C135.403 6.38916 132.792 5.48036 130.277 4.37366C129.674 4.11161 129.073 2.63905 129.311 2.04029C129.532 1.46201 130.81 1.17378 131.675 0.98229C132.15 0.877964 132.753 1.19866 133.263 1.39742C137.241 2.94773 141.246 4.17407 145.325 5.09478C149.404 6.02878 153.551 6.55556 157.818 6.5284C158.227 6.52475 158.711 6.53294 159.024 6.7405C159.783 7.23966 160.848 7.75406 161.052 8.47087C161.225 9.07144 160.547 10.3122 159.909 10.6964L159.919 10.7049Z" fill="#A32101"/>
          </svg>          
        </div>
      </div>
    </div>
    
    <img src="{{ 'rolton-middle.png' | asset_img_url: '476x621' }}" alt="noodle" width="476" height="621" loading="lazy" class="big-cup">
    
    <div class="noodle-recipe__right">
      <div class="compaund">
        <img src="{{ 'high-gluten.png' | asset_img_url: '180x170' }}" alt="noodle" width="131" height="133" loading="lazy" class="compaund__img">
        <h3>High-gluten wheat flour</h3>
        <p>27.7%</p>
        <div class="compaumd__arrow">
          <svg width="165" height="27" viewBox="0 0 165 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.86497 24.7558C5.48422 25.2081 9.10914 25.5473 12.717 25.7621C18.0207 26.0392 23.3528 26.3897 28.6223 26.7232C29.3906 26.7741 30.284 27.1698 30.8986 26.9041C31.8831 26.4745 33.0383 25.7848 33.4537 24.9141C33.7155 24.3544 33.135 21.997 32.2928 22.3588C30.2328 23.2746 25.5437 22.992 21.0993 22.4606C16.6549 21.9065 12.4951 21.2394 11.596 21.2451L11.3854 20.7023C13.0869 20.9115 14.8112 21.0359 16.6265 21.0076C19.4661 20.9907 22.522 20.6119 26.0445 19.6508C43.4465 14.9924 61.0305 11.0124 78.7455 8.19136C87.6058 6.88542 96.4889 5.76605 105.372 5.22333C114.238 4.73148 123.121 4.69756 131.748 5.73778C137.109 6.43315 142.395 7.44511 147.266 9.20332C147.579 9.29943 147.875 9.41815 148.166 9.54818L149.048 9.92696L149.93 10.3001C150.226 10.4245 150.527 10.5432 150.795 10.7015L152.456 11.5834C152.593 11.6569 152.741 11.7247 152.872 11.8039L153.253 12.0583L154.027 12.5671C156.064 13.9296 157.857 15.5634 159.154 17.4742C159.979 18.6275 160.571 19.99 161.277 21.132C161.988 22.2853 162.853 23.2181 164.435 23.8852C164.976 22.5284 165.112 20.9567 164.913 19.4247C164.697 17.8983 164.225 16.3379 163.422 14.9472C161.88 12.1035 159.365 9.8252 156.61 8.1631C152.513 5.65864 147.978 4.30747 143.488 3.40293L141.803 3.04677L140.102 2.79236C138.969 2.63407 137.848 2.41924 136.716 2.28921C134.445 2.08003 132.198 1.72387 129.933 1.57688C122.017 0.824977 114.039 0.858898 106.095 1.31117C104.109 1.42424 102.128 1.6108 100.142 1.75779L97.1661 1.98958L94.2012 2.31748L88.2716 2.97892L82.359 3.80997C66.6017 6.08264 50.9979 9.33335 35.5308 13.0759C33.283 13.6243 30.984 13.8956 28.6792 14.184C26.3802 14.4836 24.0641 14.7493 21.7708 15.1846C19.7336 15.5747 17.702 16.027 15.6648 16.5019C17.0078 15.456 18.3451 14.4045 19.6539 13.3133C21.657 11.6456 23.5918 9.85912 25.3673 7.93696C25.7941 7.47903 25.7543 5.96958 25.3161 5.53992C24.9007 5.12157 23.6715 5.35901 22.8407 5.52295C22.3854 5.61341 21.9814 6.12222 21.6115 6.48969C18.7263 9.35596 15.6932 11.9509 12.478 14.3083C9.26849 16.6771 5.84272 18.718 2.09828 20.3236C1.73977 20.4762 1.31868 20.6684 1.12519 20.9681C0.652871 21.6917 -0.081227 22.5454 0.0155138 23.2464C0.0951827 23.8343 1.16502 24.6541 1.87066 24.7445L1.86497 24.7558Z" fill="#A32101"/>
          </svg>
        </div>
      </div>
      <div class="compaund">
        <h3>wheat protein</h3>
        <p>7.1%</p>
        <img src="{{ 'protein.png' | asset_img_url: '180x170' }}" alt="noodle" width="123" height="123" loading="lazy" class="compaund__img">
        <div class="compaumd__arrow">
          <svg width="157" height="89" viewBox="0 0 157 89" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M97.2092 77.0185C93.5348 72.4148 90.967 67.0231 88.9321 61.515C86.8857 55.9866 85.4803 50.2435 83.7631 44.6121C82.0604 38.9808 80.1191 33.3744 77.1978 28.2774C75.7401 25.7304 74.0343 23.3274 72.0538 21.1789C70.0937 19.0043 67.7916 17.1594 65.3544 15.5523C60.4713 12.3264 54.8398 10.347 49.1072 9.30061C45.7628 8.70647 42.3603 8.64426 39.0227 8.94305C35.6735 9.23596 32.4154 9.88129 29.093 10.5961C24.44 11.577 19.6811 12.7667 14.7469 13.5687C16.2515 13.9375 17.7678 14.2832 19.2665 14.6491C21.3665 15.1666 23.4456 15.7684 25.3958 16.5527C25.8631 16.7385 26.363 17.8668 26.2091 18.3429C26.0554 18.8045 25.1233 19.0612 24.4533 19.2466C24.0892 19.3464 23.6164 19.114 23.21 18.9809C20.0572 17.9225 16.7548 17.1017 13.4024 16.3796C10.0471 15.6632 6.65044 15.0572 3.18133 14.4071C2.85005 14.3559 2.45798 14.2519 2.24104 14.0326C1.7146 13.5033 0.981949 12.9205 0.970583 12.3388C0.967404 11.856 1.71936 11.0341 2.24961 10.8654C5.00586 9.97299 7.54534 8.83222 10.0329 7.60681C13.687 5.80609 17.2118 3.71382 21.0047 1.52413C21.5533 1.20429 22.086 0.584794 22.6562 0.553007C23.5552 0.505564 24.7297 0.590507 25.3668 1.10296C25.7722 1.4251 25.6374 2.68372 25.3804 3.40651C25.1268 4.03626 21.6958 6.00107 18.2771 7.82634C16.5533 8.7389 14.8065 9.58153 13.375 10.2194C11.9493 10.8456 10.8534 11.2817 10.5095 11.3991L10.5092 12.004C13.2571 11.0418 15.962 9.96303 18.9778 8.93246C20.9069 8.26243 22.958 7.61051 25.2298 7.01214C27.4987 6.41958 30.0058 5.8894 32.8171 5.56446C39.8045 4.78245 46.954 5.20541 53.8196 7.02287C60.6619 8.8431 67.2954 12.1542 72.5846 17.1827C75.2263 19.6955 77.482 22.5813 79.3179 25.6481C81.1684 28.715 82.6428 31.9339 83.8902 35.1836C86.3909 41.686 88.03 48.2913 89.9326 54.6072C91.8238 60.859 94.1638 66.9446 97.5556 72.1634C99.2487 74.764 101.213 77.1306 103.495 79.0451C104.083 79.4963 104.621 80.0169 105.25 80.4013C105.856 80.8176 106.458 81.2543 107.105 81.5894C108.354 82.3611 109.703 82.9356 111.105 83.4494C113.918 84.4449 116.969 85.0141 120.111 85.3018C123.263 85.5865 126.427 85.63 129.52 85.3386C132.605 85.0501 135.636 84.4355 138.445 83.3951C139.855 82.8851 141.205 82.2642 142.48 81.5324C143.131 81.1841 143.729 80.7656 144.345 80.3705C144.912 79.9432 145.496 79.5392 146.022 79.0476C148.716 76.7094 150.859 73.6469 152.029 70.3319C152.614 68.6744 152.949 66.9631 152.99 65.2707C153.026 63.5607 152.761 61.9392 152.191 60.3161C151.077 57.0904 148.76 54.3555 145.715 52.236C142.669 50.1166 139.016 48.593 135.212 47.467C130.564 46.0514 124.771 45.3683 123.306 42.5478C127.446 42.1894 131.802 42.4866 136.156 43.5196C140.486 44.57 144.883 46.339 148.663 49.2099C150.05 50.2704 151.344 51.4728 152.465 52.8284C153.58 54.1811 154.508 55.6869 155.206 57.2875C155.913 58.8852 156.358 60.5687 156.59 62.283C156.822 63.9973 156.728 65.7215 156.48 67.4041C156.238 69.0897 155.706 70.7155 155.063 72.2709C154.427 73.8293 153.581 75.2963 152.617 76.6668C152.153 77.3652 151.612 78.002 151.091 78.6565C150.523 79.2729 149.981 79.9098 149.362 80.4706C148.777 81.0637 148.12 81.5836 147.488 82.124C146.811 82.6119 146.162 83.1289 145.448 83.5613C143.004 85.1592 140.285 86.3106 137.482 87.1504C134.668 87.9552 131.769 88.4542 128.842 88.6476C125.915 88.8556 122.972 88.793 120.05 88.5298C117.126 88.2579 114.217 87.7825 111.415 86.9237C105.764 85.2845 100.834 81.6482 97.2003 77.0505L97.2092 77.0185Z" fill="#A32101"/>
          </svg>
        </div>
      </div>
      <div class="compaund">
        <h3>organic <br> seasoning</h3>
        <div class="compaumd__arrow">
          <svg width="228" height="82" viewBox="0 0 228 82" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_42_5721)">
          <path d="M0.377045 79.1546C2.3446 76.5961 4.39589 74.0934 6.54486 71.6677C9.69156 68.0815 12.9778 64.6421 16.2152 61.1328C16.6897 60.6225 17.0316 59.8116 17.6037 59.6019C18.5177 59.2663 19.6968 58.9937 20.5062 59.3222C21.0225 59.525 21.3085 60.8672 21.2946 61.6921C21.2527 63.1741 9.78226 74.0655 8.67987 75.2189L8.94501 75.8201C11.2475 73.66 13.6825 71.5558 16.4873 69.4796C20.0596 66.8092 24.2111 64.1248 29.437 61.3845C55.2176 47.7947 81.3192 34.7432 108.265 23.3695C121.738 17.7001 135.42 12.4361 149.486 8.10895C156.526 5.96982 163.664 4.0474 170.941 2.57937C171.855 2.39761 172.755 2.20187 173.676 2.0341L176.432 1.56573C178.26 1.22319 180.13 1.01347 181.986 0.754813C182.907 0.615001 183.849 0.545095 184.791 0.454217C185.733 0.370329 186.661 0.26547 187.602 0.202554C189.5 0.118667 191.384 -0.0281362 193.296 -0.000173748C198.061 -0.0211456 202.938 0.398292 207.787 1.69855C208.394 1.83137 208.994 2.06206 209.594 2.25081C210.195 2.46053 210.802 2.6283 211.395 2.87996L213.167 3.63495C213.76 3.87263 214.325 4.22915 214.904 4.52276C217.186 5.78107 219.39 7.33998 221.225 9.32532C223.074 11.2897 224.568 13.5896 225.635 16.0153C226.703 18.4481 227.358 20.9997 227.693 23.5163C228.363 28.5775 227.875 33.5199 226.898 38.2176C226.298 41.0837 225.447 44.1456 224.247 46.5714C223.053 48.9901 221.539 50.7727 219.823 51.0593C220.821 46.6133 221.784 42.1393 222.551 37.5255C223.284 32.9326 223.772 28.1581 223.116 23.4324C222.865 21.6917 222.432 19.986 221.832 18.3362C221.218 16.6864 220.36 15.1415 219.342 13.6945C218.295 12.2684 217.039 10.9891 215.651 9.8566C214.227 8.77306 212.699 7.78738 211.046 7.03239C207.759 5.47348 204.173 4.55771 200.552 4.0474C198.738 3.76078 196.91 3.6699 195.082 3.55805C193.254 3.53708 191.419 3.49514 189.591 3.62097C183.186 3.93555 176.844 4.90025 170.578 6.19352C164.313 7.50076 158.124 9.10861 151.998 10.9332C139.753 14.6242 127.752 19.0563 115.919 23.8658C92.2524 33.5269 69.2626 44.7258 46.5659 56.4421C43.2796 58.1618 40.112 60.0633 36.9723 62.0136C33.8395 63.985 30.7277 65.9843 27.5043 67.8648C24.4134 69.6684 21.2876 71.4789 18.1409 73.2476C16.6897 74.0655 15.2314 74.8834 13.7872 75.7083C15.4198 75.5405 17.0455 75.3867 18.6851 75.2888C20.9806 75.142 23.297 75.128 25.5786 75.2958C26.1228 75.3378 27.0089 76.3444 26.9949 76.8897C26.988 77.414 26.074 78.0012 25.453 78.3997C25.1111 78.6164 24.5529 78.5325 24.0924 78.5185C16.9827 78.2878 10.0195 79.0847 3.34233 81.7621C3.02139 81.888 2.64461 82.0348 2.33064 81.9719C1.5771 81.8111 0.572403 81.7482 0.181686 81.2448C-0.14624 80.8254 -0.00671387 79.644 0.370056 79.1477L0.377045 79.1546Z" fill="#A32101"/>
          </g>
          <defs>
          <clipPath id="clip0_42_5721">
          <rect width="228" height="82" fill="white" transform="matrix(-1 0 0 1 228 0)"/>
          </clipPath>
          </defs>
          </svg>
        </div>
      </div>
    </div>
    
    <img src="{{ 'long-noodle.png' | asset_img_url: '894x904' }}" alt="noodle" width="894" height="904" loading="lazy" class="long-noodle">
  </div>
</section>


<section class="compaunds">
  <div class="compaunds__slider">
    <div class="compaunds__slide-wrapper">
      <div class="compaunds__slide">
        <img src="{{ 'salt.png' | asset_img_url: '127x123' }}" alt="compaund" width="127" height="123" loading="lazy" class="compaunds__img">
        <span>salt</span>
      </div>
    </div>

    <div class="compaunds__slide-wrapper">
      <div class="compaunds__slide">
        <img src="{{ 'sugar.png' | asset_img_url: '127x123' }}" alt="compaund" width="127" height="123" loading="lazy" class="compaunds__img">
        <span>sugar</span>
      </div>
    </div>
    <div class="compaunds__slide-wrapper">
      <div class="compaunds__slide">
        <img src="{{ 'sweet-chili.png' | asset_img_url: '127x123' }}" alt="compaund" width="127" height="123" loading="lazy" class="compaunds__img">
        <span>sweet chili</span>

      </div>
    </div>
    <div class="compaunds__slide-wrapper">
      <div class="compaunds__slide">
        <img src="{{ 'cumin.png' | asset_img_url: '127x123' }}" alt="compaund" width="127" height="123" loading="lazy" class="compaunds__img">
        <span>cumin</span>

      </div>
    </div>
    <div class="compaunds__slide-wrapper">
      <div class="compaunds__slide">
        <img src="{{ 'turmeric.png' | asset_img_url: '127x123' }}" alt="compaund" width="127" height="123" loading="lazy" class="compaunds__img">
        <span>turmeric</span>

      </div>
    </div>
    <div class="compaunds__slide-wrapper">
      <div class="compaunds__slide">
        <img src="{{ 'peper.png' | asset_img_url: '127x123' }}" alt="compaund" width="127" height="123" loading="lazy" class="compaunds__img">
        <span>peper powder</span>
      </div>
    </div>
    <div class="compaunds__slide-wrapper">
      <div class="compaunds__slide">
        <img src="{{ 'garlic.png' | asset_img_url: '127x123' }}" alt="compaund" width="127" height="123" loading="lazy" class="compaunds__img">
        <span>garlic</span>
      </div>
    </div>
    <div class="compaunds__slide-wrapper">
      <div class="compaunds__slide">
        <img src="{{ 'cocount.png' | asset_img_url: '127x123' }}" alt="compaund" width="127" height="123" loading="lazy" class="compaunds__img">
        <span>cocount</span>
      </div>
    </div>
    <div class="compaunds__slide-wrapper">
      <div class="compaunds__slide">
        <img src="{{ 'soy.png' | asset_img_url: '127x123' }}" alt="compaund" width="127" height="123" loading="lazy" class="compaunds__img">
        <span>soy sauce powder</span>
      </div>
    </div>
    <div class="compaunds__slide-wrapper">
      <div class="compaunds__slide">
        <img src="{{ 'coriander.png' | asset_img_url: '127x123' }}" alt="compaund" width="127" height="123" loading="lazy" class="compaunds__img">
        <span>coriander</span>
      </div>
    </div>
  </div>
</section> 

{{ 'about-page.js' | asset_url | script_tag }}
{{ 'compaunds-slider.js' | asset_url | script_tag }}
